<style>

input[type='number']{
    width: 80px;
} 

input{
	border:0;
}

@font-face {
  font-family: montserrat-bold;
  src: url(Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: montserrat-regular;
  src: url(Montserrat-Regular.ttf);
}

html{
	font-family: montserrat-regular !important; /*"Montserrat-SemiBold", sans-serif !important;*/
	color: rgb(34, 34, 34);
}

textarea{
font-family: montserrat-regular !important;
padding: 8px 12px 8px 12px;
line-height: 1.5;
border:0;
}


select{
font-family: montserrat-regular !important;
border:0;
padding: 0px 4px 0px 4px;
}
body{background-color: rgb(247, 247, 247);	}

.smallinp{
  height:34px;
}

.smallinp2{
  height:32px;
}

input:disabled{
background-color: #dddddd !important;
}


.loader {
  border: 35px solid #f3f3f3;
  border-radius: 50%;
  border-top: 35px solid #4461d7;
height: 0px; width: 20%; padding-top: 20%;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
      position:fixed;
    top: 20%;
    left: 50%;
}

/* new list column layout */

.first-row{
display:flex;
	/*overflow:auto;*/ 
}

.second-row{
	display:flex; 
	/*overflow:auto;*/
}

ul{
	margin-top:2px;
	padding-left: 8px;
}

.bigtitle{
	font-family: montserrat-bold;
	text-align: center;
	font-size: 22px;
	margin-bottom: 6px;
}

.list-column{
	display:none;
	padding:32px;
	margin:8px;
	font-size: 14px;
	width:19%;
	/*overflow: hidden;*/
	float:left;
	 box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}

.display-block{
	display:block;
}

.newli{
    display: inline-block;
    vertical-align: top;
	position: relative;
	/*overflow: hidden;*/
	text-overflow:ellipsis;
	white-space: nowrap;
		list-style-type:none;
	    padding: 1px 2px;
    width:90%;
}

.overflowing{
	overflow: hidden;
		text-overflow:ellipsis;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




.blocklabel{
font-family: montserrat-bold;
  display:block;
}

.subtitle{
text-transform: uppercase;
font-family: montserrat-bold;
font-size: 16px;
padding-bottom: 2px;
padding-top: 2px;
margin-bottom: 4px;
margin-top: 2px;
}

.tooltipcard{
	border-top: 0px !important;
	border-right: 0px !important;
	border-left: 0px !important;
	border-bottom: 1px solid !important;
	border-style: solid;
	border-color: white;
	margin-bottom: 3px;
	padding: 1px;
}

.commandersdiv{
	overflow:hidden;
}

.commanderinput{
  float:left;
}

.focusdiv{
  float:left;}



 .thick {
  font-weight: bold;
  font-family: montserrat-bold;
}

.sidenav {
background-color:#f3f3f1;
  height: 100%;
  width: 260px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
	padding:28px 64px 28px 64px;
}

.sidenav label{
  text-decoration: none;
  font-size: 18px;
  color: rgb(80, 80, 80) !important;
  display: block;
  margin-bottom: 2px;
}

	
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(80, 80, 80);
  display: block;
}

.sidenav .itemdiv {
  padding: 16px 2px 16px 8px;
  text-decoration: none;
  overflow: hidden;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

div.separate{
	margin-top: 10px; 
	padding-top: 5px;
	border-top: 2px solid rgb(220, 220, 220);
}

.main {
  margin-left: 380px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* colors for each color */
.blackcube{background-color: #c6bbc0}
.bluecube{background-color: #b7c9d6}
.redcube{background-color: #ef9999}
.greencube{background-color: #dde6d2}
.whitecube{background-color: #ede3ce}
.multicolorcube{background-color: #fae7a8}
.colorlesscube{background-color: rgba(90, 90, 90, 0.09)}
.landscube{background-color: rgba(71, 40, 11, 0.13)}

#cubesize{
font-family: montserrat-regular;
  width: 60px;
  padding: 0px 4px 0px 4px;
}
 
.tg  {border-collapse:collapse;border-spacing:0; background-color: white; box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top; }

td {width:160px;}
th {width:160px;}




#cubemake{
font-family: montserrat-bold;
  background-color:#4461d7;
  color: white;
  height:50px;
  border-radius: 50px;
  width:100%;
  font-weight: 300;
  font-size: 20px; 
  cursor:pointer;
  	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border:0;

}
#programatically{
font-family: montserrat-bold;
  background-color:#white;
  color: #4461d7;
  border: 2px solid #4461d7 !important;
  height:50px;
  border-radius: 50px;
  width:100%;
  font-weight: 300;
  font-size: 20px; 
  cursor:pointer;
  	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border:0;

}


/* Tooltip container */
.tooltip {

  display: inline-block;

}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 7px;
  border-radius: 6px;
  z-index: -1;	
  /* Position the tooltip text - see examples below! */
  position: absolute;
    top: -5px;
  right: 105%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  z-index: 1000;
}

.category{
	display:none;
}

/*<a id="programatically" href="" download="generated_cube.txt">Export cube</a>*/

</style>


